// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.space_top{
  padding-top:30px;
}
// .imagecenter{
//   margin:  0 auto;       
// }

#profile_thumbnail{
  margin:  0 auto;       
}
// input {
//   margin:  0 auto;       
// }

.centerposition{
  margin:  0 auto;      
}

.sampleTable{
  table-layout: fixed !important;
}